@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
		url('/fonts/PPNeueMontreal-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
		url('/fonts/PPNeueMontreal-Medium.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Neue Machina';
	src: url('/fonts/PPNeueMachina-Bold.woff2') format('woff2'),
		url('/fonts/PPNeueMachina-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
  --width: 1366px;
  /* --width: 980px; */

  --gutter: 2vw;
  --corner: 1rem;

  --dark: #1D1F27;
  --darkish: #2D303C;
  --light: #EDF5E2;
  --muted: #7D7D7D;
  --highlight: #F7D152;

  --font: "PP Neue Montreal", Helvetica, sans-serif;
  --alt: "PP Neue Machina", Helvetica, sans-serif;
}

@media (max-width: 888px) {
  :root {
    --gutter: 1rem;
  }
}

* {
	box-sizing: border-box;
}

html {
  font-family: var(--font);
  font-size: 18px;
  /* line-height: 1.35; */
  -webkit-tap-highlight-color: var(--highlight);
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;

  color: var(--light);
  background: var(--dark);
}

h1, h2, h3 {
  font-family: var(--alt);
  margin: 0 0 0.5em;
  white-space: pre-line;
  word-break: break-word;
}

h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 1em;
  white-space: pre-line;
}

h1 {
  font-size: 3.29rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

@media (max-width: 888px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.88rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.88rem;
}

p {
  margin: 0 0 0.88em;
  line-height: 1.45;
  white-space: pre-line;
}

a {
  color: currentColor;
  text-decoration: none;
}

[id] {
  scroll-margin-top: 20vh;
}

ul, ol {
  padding-left: 1em;
}

ol > li > p {
  margin-bottom: 0.5em;
}

a:hover,
a:focus {
  color: var(--highlight);
}

hr {
  width: 100%;
  opacity: 0.25;
  margin: 1rem 0;
}

label {
  cursor: pointer;
}

label:hover,
label:focus {
  color: var(--color);
}

button,
a.button {
  cursor: pointer;
  display: inline-block;
  color: currentColor;
  border: 1px solid;
  background: transparent;
  font-size: 0.88em;
  letter-spacing: 0.02rem;
  /* padding: 0.33em 0.88em; */
  padding: 6px 12px;
  border-radius: 1.5em;
}

button:hover,
a.button:hover,
button:focus,
a.button:focus {
  color: var(--highlight);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  margin-right: 0.25em;
  font: inherit;
  color: currentColor;

  width: 1em;
  height: 1em;
  border: 2px solid var(--color);
  border-radius: 0.25em;
  transform: translateY(0.15em);

  position: relative;
}

input[type="checkbox"]:checked:before {
  content: "";
  background-color: var(--color);
  width: 0.70em;
  height: 0.70em;
  border-radius: 0.33em;

  position: absolute;
  top: 0.05em;
  left: 0.05em;
}